<!doctype html>
<link rel="stylesheet" href="/styles/style.css">
<link rel="stylesheet" href="/styles/styles2.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="login">
        <h1>Notification sent!</h1>
        <h1>Press the link and log in again</h1>
    </div>
    <div class="button_cont" align="right"><a class="example_f" href="/" rel="nofollow"><span>Login Again</a></div>
</body>